body
{
    background-image: url(animal_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1
{
    color: black;
}
tr:nth-child(even)
{background-color: white;}

tr:nth-child(odd)
{background-color: white;}

nav
{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    height: 50px;
    background-color: yellow;
}

button
{
    border-radius: 40%;
}
body
{
    background-size: 1500px 750px;
}