/*styling navigation bar*/
.navbar
{
    width: 100%;
    background-color: #04aa6d;
    overflow: auto;
}
.navbar a
{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
   font-size: 25px;
   width: 14%;
   text-align: center;
}
h1
{
    padding-top: 150px;
    padding-left: 100;
}
body
{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1450px 700px;
    
}
.A3
{
    text-align: center;
    font-size: 36px;
}

.carousel-inner
{
    
}